<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    <a class="navbar-brand" href="/"/>Home</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
          <li><%= link_to "Log Out", signout_path, method: 'DELETE' %></li>
          <li><%= link_to "Go on #{@attraction.name}", @attraction %></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<h1><%= @attraction.name %></h1>
<br>
<%= form_tag @attraction do %>
  <%= submit_tag "Go on this ride", id: :"Go on this ride" %>
<% end %>

<% if current_user.admin %>
  <%= link_to "Edit Attraction", edit_attraction_path %>
<% end %>

<br>
